.git
.gitignore
README.md
.env
.env.local
.DS_Store
.idea
.vscode
*.iml
*.lock
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
node_modules/
.gradle/
.android/
.ios/
.web/
.windows/
.linux/
.macos/
coverage/
test/
analysis_options.yaml
