version: '3.8'

services:
  recipehub-frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - NODE_ENV=production
    depends_on:
      - recipehub-backend

  recipehub-backend:
    image: recipehub-back:latest
    ports:
      - "3000:8000"
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/recipehub
      - DJANGO_SETTINGS_MODULE=config.settings
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_DB=recipehub
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
